include ../blocks/picture.pug
doctype html
html(class="no-js" lang="")
    include ../includes/head.pug
body
  block content
    h3 This is default Content
  block scripts
    script(src="js/main.js")


