extends ../layouts/default.pug

block content
  h3 Hello, this is my content!
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, ipsum nihil similique vero sed doloribus expedita dolorum. Doloremque, nihil impedit!
  +image('img','images/1','Image')
  +image('img','images/2','Image')
  +image('img','images/3','Image')
  +image('img','images/4','Image')
